<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Giuly's Studio</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" /> 
        <link rel="stylesheet" href="{{url_for('static', filename='Home.style.css')}}">
    </head>
    <body>
      <header>
        <div class="banner">
            <div class="navbar">
              <img src="{{ url_for('static', filename='images/logo.png')}}" class="logo">
              <ul>
                <li><a href="{{url_for('views.home')}}">Home</a></li>
                <li><a href="{{url_for('views.about')}}">About</a></li>
                <li><a href="{{url_for('auth.shop')}}">Shop</a></li>
                <li><a href="{{url_for('views.contact')}}">Contact</a></li>
                <li><a href="{{url_for('auth.login')}}">Login</a></li>
              </ul>
              <div class="navbar_icons">
                <div class="shopping">
                    <ul>
                        <li><a href="{{url_for('auth.Shopping_Cart')}}"><i class="fa-solid fa-bag-shopping fa-lg" style="color: black"></i><span class="quantity"><i class="fa-solid fa-exclamation"></i></span></a></li>
                        
                    </ul>
                </div> 
              </div>
            </div>
  
            <div class="Home-Message">
              <h1 class="Title">Indie style ?</h1>
              <h2 class="Sub-Title">We got you</h2>
              <hr class="Line">
              <p class="Home-paragraph">Giuly's Studio is a sustainable brand focusing on quality over mass production. We design our clothes to last longer because you deserve more than just a fling with garments that last ten washes. We’re designing our clothes for the long haul, so get ready to commit and save long-term.</p>
              <a href="{{url_for('auth.shop')}}">
                <button type="button" id="b1">SHOP NOW</button>
              </a>
            </div>

            <div id="container">
                <div id="main">

                </div>
            </div>

            <footer id="footer">
              <div class="footer_content">
                <a href="https://www.youtube.com/watch?v=ZCBdne4siKc"><i class="fa-brands fa-square-youtube fa-2x" style="color: black"></i></a>
                <a href="https://www.instagram.com/danielleguizio/"><i class="fa-brands fa-square-instagram fa-2x" style="color: black""></i></a>
                <a href="https://www.facebook.com/DANIELLEGUIZIOOfficial/"><i class="fa-brands fa-square-facebook fa-2x" style="color: black""></i></a>
                <a href="https://twitter.com/danielleguizio?fbclid=IwAR225qAib3wunzbLdhP7pgDn0c65C6YhU9Qahf73DmEu8CPcmagr_I8jEgQ"><i class="fa-brands fa-square-twitter fa-2x" style="color: black""></i></a>
              </div>
            </footer>

          </div>
        </div>
      </header>
    </body>
  </html>