{%extends "auth_base.html" %}
{% block title %}Succsesful-Login{% endblock %}

{% block content %}

<div class="container_centered_Succ">
    <div class="textbox">
        <div class="Succsesful_login_text">
            <h3 class="Title_S">Thank You</h3>
            
            <h3 class="Sub-Title">For Loging in</h3>
            
            <p class="paragraph">You can now continue with your purchases</p>
        </div>
    </div>
</div>

<br>
<br>

<div class="Login_Succ_Button">
    <div class="b1">
        <a href="#"><button id="b1">Shopping Cart</button></a>
    </div>
    
</div>

        
    


{% endblock %}