/* Creating font styling for the whole website*/ 
.paragraph{
    font-size: 15px;
    line-height: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: medium;
    text-align: center;
}
  
@font-face {
    src:url(Fonts/TAN-Rosebud.otf);
    font-family: 'TAN Rosebud';
}
  
.Title{
    font-size: 80px;
    line-height: 62px;
    font-family: 'TAN Rosebud';
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
  
  
/* Setting global margins for the page*/ 
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
    
/* Setting background colour for the page (inside the body of my html)*/ 
body{
      background-color: rgb(255, 255, 255);
}

.container_centered {
    position: relative;
    width: 96%;
    height: 60%;
    padding: 2rem;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textbox{
    max-width: 820px;
    max-height: 150px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    z-index: 600;
    overflow: hidden;
    padding-bottom: 200px;
    margin-left: 7%;
}
    
  
/* HOME PAGE - Main divisions within body and formating */ 
.banner{
    width: float;
    max-width: 100%;
    height: 100vh;
    background-image: url(about-background.png);
    background-size: cover;
    background-position: center;
}



/* About text*/
.Contact-text{
    width: float;
    margin: 20px;
    padding-top: 50px;
    align-items: center;


}

.Sub-Title{
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding-bottom: 8px;
    text-align: center;
}

.Line{
    width: 80px;
    height: 3px;
    border: 0 none; 
    margin-right: auto;
    margin-left: 0;
    margin-top: 25px;
    margin-bottom: 5px;
    background-color: turquoise;
}

.About-paragraph{
    font-size: 15px;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: justify;
    padding-top: 10px;
    padding-bottom: 20px;
}



  
/* Navbar - CSS*/ 
  .navbar{
    width: 85%;
    margin-left: 10%;
    padding: 0px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar_icons .shopping span{
    background-color: #20E2D7;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    position: absolute;
    top: -5px;
    left: 80%;
    padding: 3px 6px;
    font-size: 10px;
    
}
    
.logo{
    width: 160px;
    margin-right:50px;
    margin-left: 0px;
    margin-top: 0px;
    cursor: pointer;
}
    
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 30px;
    position: relative;
}
    
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #ffffff;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
    
.navbar ul li:hover::after{
    width: 100%;
}
    
.navbar ul li a{
    text-decoration: none;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 17px;
  
}
  
/* Navbar ICONS- CSS*/ 
.navbar.icons{
    width: 70% 100%;
    margin:0px;
    padding: 0px 0;
    display: flex;
    align-items: right;
    justify-content: space-between;
}

/* Image Gallery- CSS*/ 
.img-gallery{
    width: 80%;
    margin-top: 0px;
    margin: 20px auto 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    border-radius: 5px;
}

.img-gallery img{
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
}

.img-gallery img:hover{
    transform: scale(0.8) rotate(-15deg);
    border-radius: 20px;
    box-shadow: 0 32px 75px rgba(68, 77, 136, 0.2);
}

  
  
/* FOOTER - Social media links CSS*/ 
#container{
    min-height: 20%;
}

#main{
    overflow: auto;
    padding-bottom: 50px;
}

.footer_content{
    align-items: left;
    margin: 20px;
    width: auto;
    display: inline-block;
    padding-left: 80%;
}

#footer{
    background-color: #ffffff;
    position: relative;
    height: 50px;
    margin-top: -50px;
    clear:both;
    color: #000000;
}